openapi: 3.2.0
info:
  title: VTex Pricing Pricing Configuration API
  description: Check the new Pricing onboarding guide.
  contact: {}
  version: '1.0'
servers:
- url: https://api.vtex.com/{accountName}
  description: VTEX server URL.
  variables:
    accountName:
      description: Name of the VTEX account. Used as part of the URL
      default: apiexamples
security:
- appKey: []
  appToken: []
- VtexIdclientAutCookie: []
tags:
- name: Pricing Configuration
paths:
  /pricing/config:
    get:
      tags:
      - Pricing Configuration
      summary: VTex Get pricing configuration
      description: 'Retrieves Pricing configuration.


        ## Permissions


        Any user or application key must have at least one of the appropriate License Manager resources to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:


        | **Product** | **Category** | **Resource** |

        | --------------- | ----------------- | ----------------- |

        | Pricing | Price List | **Read prices** |


        There are no applicable predefined roles for this resource list. You must create a custom role and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see Authentication overview.


        >❗ To prevent integrations from having excessive permissions, consider the best practices for managing app keys when assigning License Manager roles to integrations.'
      operationId: GetPricingConfig
      parameters:
      - name: Content-Type
        in: header
        description: Describes the type of the content being sent.
        required: true
        style: simple
        schema:
          type: string
          default: application/json
      - name: Accept
        in: header
        description: HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Credentials:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'true'
            Access-Control-Allow-Origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '118'
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 21 Feb 2017 16:11:39 GMT
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            X-CDNIgnore:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '1'
            X-Powered-by-VTEX-Janus-Edge:
              content:
                text/plain:
                  schema:
                    type: string
                  example: v1.35.3
            X-Track:
              content:
                text/plain:
                  schema:
                    type: string
                  example: stable
            X-VTEX-Janus-Router-Backend-App:
              content:
                text/plain:
                  schema:
                    type: string
                  example: pricing-v3.21.12
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/PricingConfiguration'
              example:
                hasMigrated: true
                migrationStatus: Completed
                defaultMarkup: 100
                priceVariation:
                  upperLimit: null
                  lowerLimit: null
                minimumMarkups:
                  '1': 100
                  '2': 90
                tradePolicyConfigs: []
                sellersToOverride: []
                hasPriceInheritance: false
                priceInheritance: never
                hasOptionalBasePrice: false
                blockAccount: false
                blockedRoutes: null
                priceTableSelectionStrategy: first
                priceTableLimit: null
      deprecated: false
      servers:
      - url: https://api.vtex.com/{account}/pricing
        variables:
          account:
            default: DefaultParameterValue
  /pricing/migration:
    get:
      tags:
      - Pricing Configuration
      summary: VTex Get pricing v2 status
      description: 'Retrieves Pricing v2 status.


        ## Permissions


        Any user or application key must have at least one of the appropriate License Manager resources to be able to successfully run this request. Otherwise they will receive a status code `403` error. These are the applicable resources for this endpoint:


        | **Product** | **Category** | **Resource** |

        | --------------- | ----------------- | ----------------- |

        | Pricing | Price List | **Read prices** |


        There are no applicable predefined roles for this resource list. You must create a custom role and add at least one of the resources above in order to use this endpoint. To learn more about machine authentication at VTEX, see Authentication overview.


        >❗ To prevent integrations from having excessive permissions, consider the best practices for managing app keys when assigning License Manager roles to integrations.'
      operationId: GetPricingv2Status
      parameters:
      - name: Content-Type
        in: header
        description: Describes the type of the content being sent.
        required: true
        style: simple
        schema:
          type: string
          default: application/json
      - name: Accept
        in: header
        description: HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Credentials:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'true'
            Access-Control-Allow-Origin:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '*'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '52'
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 21 Feb 2017 16:13:39 GMT
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx
            X-CDNIgnore:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '1'
            X-Powered-by-VTEX-Janus-Edge:
              content:
                text/plain:
                  schema:
                    type: string
                  example: v1.35.3
            X-Track:
              content:
                text/plain:
                  schema:
                    type: string
                  example: stable
            X-VTEX-Janus-Router-Backend-App:
              content:
                text/plain:
                  schema:
                    type: string
                  example: pricing-v3.21.12
          content:
            application/json; charset=utf-8:
              schema:
                type: object
                properties:
                  isActive:
                    type: boolean
                    description: Defines if the account is active.
                  hasMigrated:
                    type: boolean
                    description: Defines if the account has migrated to Pricing V2.
              example:
                isActive: true
                hasMigrated: true
      deprecated: false
      servers:
      - url: https://api.vtex.com/{account}/pricing
        variables:
          account:
            default: DefaultParameterValue
components:
  schemas:
    PricingConfiguration:
      required:
      - hasMigrated
      - defaultMarkup
      - minimumMarkups
      type: object
      description: Pricing configuration request body information.
      properties:
        hasMigrated:
          type: boolean
          description: Defines if the account has migrated to Pricing V2.
        migrationStatus:
          type: string
          description: Pricing V2 migration status.
        defaultMarkup:
          type: integer
          format: int32
          description: Account default markup.
        priceVariation:
          type: object
          description: Price Variation object.
          properties:
            upperLimit:
              type:
              - integer
              - 'null'
              description: Upper variation limit.
            lowerLimit:
              type:
              - integer
              - 'null'
              description: Lower variation limit.
        minimumMarkups:
          type: object
          description: Account minimum markup.
          additionalProperties:
            description: Additional property.
            type: integer
            format: int32
        tradePolicyConfigs:
          type: array
          description: Trade Policy Configurations array.
          items:
            type: object
            description: Information trade polity configuration.
            properties:
              tradePolicyId:
                type: string
                description: Trade Policy ID.
              minimumMarkup:
                type: integer
                description: Trade Policy Minimum Markup.
              rulesShouldAffectListPrice:
                type: boolean
                description: Defines if the Price Rule should affect the list price too.
        sellersToOverride:
          type:
          - array
          - 'null'
          description: Overrides prices from sellers.
          items:
            type: string
            description: Seller ID.
        hasPriceInheritance:
          type: boolean
          description: Deprecated. Use the `priceInheritance` field instead.
          deprecated: true
        priceInheritance:
          type: string
          description: 'Condition of price inheritance from its parent account. This field can have three possible values: `never` if the store should never inherit prices, `nonexistent` if the store should only inherit prices in case of nonexistent prices for a given product, or `always` if the store should always inherit prices, regardless of its own prices.'
        hasOptionalBasePrice:
          type: boolean
          description: Defines if optional base price is allowed.
        blockAccount:
          type: boolean
          description: Defines if access to the Pricing APIs is blocked for external requests.
        blockedRoutes:
          type:
          - array
          - 'null'
          description: Array with all blocked routes.
          items:
            type: string
            description: Blocked route.
        priceTableSelectionStrategy:
          type: string
          description: 'The strategy used to get prices when there is more than one option. Possible values: `first`, `highest`, `lowest`. Default: `first`.'
          default: first
        priceTableLimit:
          type:
          - integer
          - 'null'
          description: Price Table Limit.
  securitySchemes:
    appKey:
      type: apiKey
      in: header
      name: X-VTEX-API-AppKey
      description: Unique identifier of the [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys).
    appToken:
      type: apiKey
      in: header
      name: X-VTEX-API-AppToken
      description: Secret token of the [application key](https://developers.vtex.com/docs/guides/api-authentication-using-application-keys).
    VtexIdclientAutCookie:
      type: apiKey
      in: header
      name: VtexIdclientAutCookie
      description: '[User token](https://developers.vtex.com/docs/guides/api-authentication-using-user-tokens), valid for 24 hours.'
