openapi: 3.2.0
info:
  title: VTex Suggestions Get Suggestions API
  description: The **Marketplace API** enables marketplaces and sellers hosted on VTEX to perform their collaborative operations.
  contact: {}
  version: '1.0'
servers:
- url: https://api.vtex.com/{accountName}
  description: Suggestions Server URL.
  variables:
    accountName:
      description: Name of the VTEX account. Used as part of the URL.
      default: apiexamples
tags:
- name: Get Suggestions
paths:
  /suggestions:
    get:
      tags:
      - Get Suggestions
      summary: VTex Get all SKU suggestions
      description: 'This endpoint retrieves a list of all SKUs sent by the seller for the Marketplace''s approval. Marketplace operators should use this endpoint whenever they want to check the full list of received SKUs and their information.


        Note that all the information sent by the seller will be in the [content] object. All remaining information in this endpoint''s response is given by the Matcher.


        Matcher rates received SKUs by correlating the data sent by sellers, to existing fields in the marketplace. The calculation of these scores determines whether the product has been:


        `Approved`: score equal to or greater than 80 points.


        `Pending`: from 31 to 79 points.


        `Denied`: from 0 to 30 points.


        Note that if the autoApprove setting is enabled, the SKUs will be approved, regardless of the Score.'
      operationId: Getsuggestions
      parameters:
      - name: accountName
        in: path
        required: true
        description: Name of the VTEX account. Used as part of the URL
        schema:
          type: string
          default: apiexamples
      - name: q
        in: query
        description: This field allows you to customize your search. You can fill in this query param if you want to narrow down your search using the available filters on Received SKU modules.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ''
      - name: type
        in: query
        description: This field allows users to filter SKU suggestions, by searching only the new suggestions that were just sent, and suggestions that have already been sent, but were updated. Possible values for this field include `new` and `update`.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: new
      - name: seller
        in: query
        description: A string that identifies the seller in the marketplace. This ID must be created by the marketplace and informed to the seller so it can call this endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ''
      - name: status
        in: query
        description: 'Narrow down you search, filtering by status. Values allowed on this field include: `accepted`, `pending` and `denied.`'
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: accepted
      - name: hasmapping
        in: query
        description: This field allows you to filter SKUs that have mapping or not. Insert `true` to filter SKUs that have mapping, or `false` to retrieve SKUs that aren't mapped.
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 'true'
      - name: matcherid
        in: query
        description: Identifies the matching entity. It can be either VTEX's matcher, or an external matcher developed by partners, for example. The `matcherId`'s value can be obtained through the [Get SKU Suggestion by ID](https://developers.vtex.com/vtex-rest-api/reference/getsuggestion) endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: vtex-matcher
      - name: _from
        in: query
        description: Define your pagination range, by adding the pagination starting value. Values should be bigger than 0, with a maximum of 50 records per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 1
      - name: _to
        in: query
        description: Define your pagination range, by adding the pagination ending value. Values should be bigger than 0, with a maximum of 50 records per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          minimum: 1
          default: 50
      - name: Accept
        in: header
        description: HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.
        required: true
        style: simple
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        description: Type of the content being sent.
        required: true
        style: simple
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: OK
          headers: {}
      deprecated: false
  /suggestions/{sellerId}/{sellerSkuId}:
    get:
      tags:
      - Get Suggestions
      summary: VTex Get SKU Suggestion by ID
      description: 'This endpoint retrieves the data of a specific SKU sent by the seller, to the marketplace. Marketplaces or external matchers can call this endpoint when they want to check the information about a single SKU.


        Note that all the information sent by the seller will be in the [content] object. All remaining information in this endpoint''s response is given by the Matcher.


        Matcher rates received SKUs by correlating the data sent by sellers, to existing fields in the marketplace. The calculation of these scores determines whether the product has been:


        `Approved`: score equal to or greater than 80 points.


        `Pending`: from 31 to 79 points.


        `Denied`: from 0 to 30 points.


        Note that if the autoApprove setting is enabled, the SKUs will be approved, regardless of the Score.'
      operationId: GetSuggestion
      parameters:
      - name: accountName
        in: path
        required: true
        description: Name of the VTEX account. Used as part of the URL
        schema:
          type: string
          default: apiexamples
      - name: Accept
        in: header
        description: HTTP Client Negotiation Accept Header. Indicates the types of responses the client can understand.
        required: true
        style: simple
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        description: Describes the type of the content being sent.
        required: true
        style: simple
        schema:
          type: string
          default: application/json
      - name: sellerId
        in: path
        description: A string that identifies the seller in the marketplace. This ID must be created by the marketplace and informed to the seller before the integration is built.
        required: true
        style: simple
        schema:
          type: string
          default: seller123
      - name: sellerSkuId
        in: path
        description: A string that identifies the SKU in the marketplace. This is the ID that the marketplace will use for future references to this SKU, such as price and inventory notifications.
        required: true
        style: simple
        schema:
          type: string
          default: '1234'
      responses:
        '200':
          description: OK
          headers: {}
      deprecated: false
