openapi: 3.2.0
info:
  title: VTex Pick and Pack Last Mile Protocol Shipping Updates API
  description: "The Pick and Pack Last Mile Protocol API enables seamless integration between the [Pick and Pack](https://help.vtex.com/en/tutorial/vtex-pick-and-pack--1OOops3WrUyz7e0bnhkfXU) app and delivery services. This API allows carriers and brokers to securely and efficiently exchange shipment information with the Pick and Pack app. It streamlines the process of managing orders, updating shipping statuses, and handling various service-related tasks, ensuring timely and accurate delivery updates. \n\n>ℹ️ Blank fields are included as `null` instead of being omitted.\n## Authentication\n- [`POST` Create an access token](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/token)\n\n## Service integration\n-  [`POST` Create a service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/create-service)\n\n## Carriers\n-  [`POST` Calculate rates](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/rates)\n-  [`POST` List carriers](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/list-carriers)\n\n## Shipping updates\n-  [`GET` Get a service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#get-/-carrierId-/-serviceId-)\n-  [`PATCH` Update service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#patch-/-carrierId-/-serviceId-)\n-  [`POST` Create notes](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/notes/-carrierId-/-serviceId-)\n-  [`POST` Create evidence](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/evidences/-carrierId-/-serviceId-)\n-  [`POST` Create labels](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/labels/-carrierId-/-serviceId-)\n-  [`POST` Cancel service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/cancel-service)\n-  [`POST` Cancel ongoing service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/cancel/service/-carrierId-/-serviceId-)\n-  [`POST` Pause and resume service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/pause-service)\n-  [`POST` Create on hold service](https://developers.vtex.com/docs/api-reference/pick-and-pack-protocol-api#post-/on-hold/-carrierId-/-serviceId-)"
  version: '1.0'
servers:
- url: https://auth.pickingnpacking.com/{environment}
  variables:
    environment:
      default: DefaultParameterValue
      description: Server to access the authentication necessary to make a request in the Pick and Pack Provider API.
- url: https://{store_endpoint}
  variables:
    your_endpoint:
      default: storeapi.com
      description: Server from the store.
- url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
  variables:
    environment:
      default: DefaultParameterValue
      description: Environment of the Pick and Pack Protocol App.
tags:
- name: Shipping Updates
  description: This endpoint will allow the carriers to update an ongoing shipping service.
paths:
  /{carrierId}/{serviceId}:
    get:
      tags:
      - Shipping Updates
      summary: VTex Get service
      description: 'Returns information about a service, which can be queried by providing the carrier ID and the corresponding service ID as query parameters.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Getservice
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID generated by the carrier.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceBody'
              example:
                message: success
                data:
                  id: 519400fb-f980-4a6a-809c-9f986fdb98a4
                  orderId: 46369545534253-01
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&78c83922-d658-48bf-89d5-0658a6a94e27
                  carrierName: AfterShip
                  seller: lastmile
                  status: DELIVERED
                  type: PICKUP_DELIVERY
                  tags: []
                  labels:
                  - id: 78c83922-d658-48bf-89d5-0658a6a94e27
                    name: Shipping label
                    url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
                    type: PDF
                  evidences: []
                  packages:
                  - id: a46e5bc1-8959-459f-a094-b6e699f7214c
                    orderId: 46369545534253-01
                    envelope: Foam or Plastic Containers
                    dimensions:
                      height: '5'
                      length: '11'
                      width: '7'
                    weight: '48'
                    totalValue: 5352
                    items:
                    - id: '184'
                      name: Chicken
                      ean: EAN354
                      quantity: 8
                      price: 669
                      refId: '314'
                      image: https://picsum.photos/seed/YtoZ9/128/480
                      type: other
                      weight: '6'
                    categories:
                    - Movies
                    - Garden
                    - Books
                    description: Unde deserunt libero cupiditate illum.
                  timeline:
                  - id: 77263f59-0ac5-4b0c-bfe5-f17a1648474d
                    date: '2024-03-09T01:33:14.917Z'
                    createdAt: '2024-03-09T01:33:14.917Z'
                    updatedAt: '2024-03-09T01:33:14.917Z'
                    type: STATUS
                    description: Service pending in DEV
                    author: System
                    metaData:
                      shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                      metaData:
                        shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                        metaData: null
                        serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                        shippingPrice: 284.02
                        status: PENDING
                        labels:
                        - name: Shipping label
                          id: 78c83922-d658-48bf-89d5-0658a6a94e27
                          type: PDF
                          url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
                      serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                      shippingPrice: 284.02
                      status: PENDING
                      labels:
                      - name: Shipping label
                        id: 78c83922-d658-48bf-89d5-0658a6a94e27
                        type: PDF
                        url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
                  - id: 9906da15-15e4-4dbd-8e90-c34ec43ed446
                    date: '2024-03-09T01:46:20.006Z'
                    createdAt: '2024-03-09T01:46:20.006Z'
                    updatedAt: '2024-03-09T01:46:20.006Z'
                    type: NOTE
                    description: A new note has been added
                    author: afterShip
                    metaData:
                      '0':
                        type: COMMENT
                        note: The package is delivered at the door
                        author: afterShip
                  - id: 35619274-3bca-4749-8a38-53a62776144a
                    date: '2024-03-09T01:44:17.437Z'
                    createdAt: '2024-03-09T01:44:17.437Z'
                    updatedAt: '2024-03-09T01:44:17.437Z'
                    type: NOTE
                    description: A new note has been added
                    author: afterShip
                    metaData:
                      '0':
                        type: COMMENT
                        note: 'Tracking Number: 10001709948594168'
                        author: afterShip
                  - id: 9b60e3fd-5bf9-43c6-99f2-4292a57fa408
                    date: '2024-03-09T01:46:19.689Z'
                    createdAt: '2024-03-09T01:46:19.689Z'
                    updatedAt: '2024-03-09T01:46:19.689Z'
                    type: STATUS
                    description: The package was delivered
                    author: System
                    metaData:
                      shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                      trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
                      status: DELIVERED
                  - id: 21c9acaa-e14b-41bd-aaa7-a2cebd7384c0
                    date: '2024-03-09T01:43:15.887Z'
                    createdAt: '2024-03-09T01:43:15.887Z'
                    updatedAt: '2024-03-09T01:43:15.887Z'
                    type: STATUS
                    description: Service pending
                    author: System
                    metaData:
                      shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                      trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
                      status: PENDING
                  - id: 7a1a3a63-f94c-49f1-a912-bc3f095d7845
                    date: '2024-03-09T01:45:18.812Z'
                    createdAt: '2024-03-09T01:45:18.812Z'
                    updatedAt: '2024-03-09T01:45:18.812Z'
                    type: STATUS
                    description: Courier picked the package
                    author: System
                    metaData:
                      shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                      trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
                      status: PICKED
                  - id: 9ca25940-bdae-4f19-a5b4-92477abfa059
                    date: '2024-03-09T01:33:14.978Z'
                    createdAt: '2024-03-09T01:33:14.978Z'
                    updatedAt: '2024-03-09T01:33:14.978Z'
                    type: LABEL
                    description: Added a label
                    author: System
                    metaData:
                      name: Shipping label
                      id: 78c83922-d658-48bf-89d5-0658a6a94e27
                      type: PDF
                      url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
                  - id: 24b84b8b-7418-4ed8-bc89-b6a1cbee2331
                    date: '2024-03-09T01:43:16.289Z'
                    createdAt: '2024-03-09T01:43:16.289Z'
                    updatedAt: '2024-03-09T01:43:16.289Z'
                    type: NOTE
                    description: A new note has been added
                    author: afterShip
                    metaData:
                      '0':
                        type: COMMENT
                        note: 'Tracking Number: 10001709948594168'
                        author: afterShip
                  - id: 9dfad688-e99a-4b27-9ccb-959da40c3bf8
                    date: '2024-03-09T01:33:08.385Z'
                    createdAt: '2024-03-09T01:33:08.385Z'
                    updatedAt: '2024-03-09T01:33:08.385Z'
                    type: STATUS
                    description: Service creation by AfterShip
                    author: System
                    metaData:
                      status: CREATED
                  - id: 781ab0af-e62a-4a21-a837-8d0eea3f57c2
                    date: '2024-03-09T01:44:17.077Z'
                    createdAt: '2024-03-09T01:44:17.077Z'
                    updatedAt: '2024-03-09T01:44:17.077Z'
                    type: STATUS
                    description: Courier on route
                    author: System
                    metaData:
                      shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                      trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
                      status: ON_ROUTE
                  notes:
                  - type: COMMENT
                    date: '2024-03-09T01:43:16.280Z'
                    content: 'Tracking Number: 10001709948594168'
                    author: afterShip
                  - type: COMMENT
                    date: '2024-03-09T01:44:17.423Z'
                    content: 'Tracking Number: 10001709948594168'
                    author: afterShip
                  - type: COMMENT
                    date: '2024-03-09T01:46:19.998Z'
                    content: The package is delivered at the door
                    author: afterShip
                  timezone:
                    offset: 300
                    value: America/Bogota
                    label: null
                  carrierLogo: iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAtTSURBVHgB7Z1PbBvHFca/WZICXCCFkt6aAGEORZ3YjaVD0d5MpUCL5BIZydGprUOKRBYg+ZQUDSqxSIG0F8uB7PZmufYxruVLghRwRN9S9GDZTpwUPZgB6t6aEE3hAKLEybxdrk3bEnd2dnb+LPcHyJLMFUXqffvem5k3bxgKCF+YGMfmZl18OYEAdXD2pPi6DoZ6dAEbF/+M3/9TrAPGO+DoiG/ooy2+/0JctyE+Omzl8xYKCEMB4At769gMGmDsoHhHDWHEOvJhI/zg/ArGxlpseaMNz/FWAHxubwMIpsVbeDFHgyexIbzEFaC35quH8EoAd43OgyMPu3DLMBEyOFqo1Zo+eQbnBdCP59PCvQujC/fuBy0RJs6y0zdX4TjOCqBv+HmwYMG5u10W8go93nRZCM4JoBCGfxCHheCUAPjsM0cRsEWLSV2+OCgEJwTAX5uoo9I9A39ifDY4XxPDyOMuJIsBLCPu+kVh/FsYFeMTjE2j270VvnfbLwWWGLm7fjcoLFRrU7a8gRUPwI/tO4LK1lWMuvEJyne2uuth/mMB4x5AGP+E+LSAkofhfEkkiE0YxJgAwuFdt3sR5V0/nChBnBEhoQMDGBFAGO+r3fXCDu90YzAvyF0ApfEVMSSCXAVQGj8jBkSQmwBK42siZxHkIoDS+JrJUQTaBRBm+1vdq6XxtbOBWigCraMD/RNBm1tnSuPnwoQYRp+AZrQKgM/uXwTj0yjJi6P89ae1TqJpCwF87mkq1boIH/jOI8BPhE4f+370/e1/AtcvA3e+hhcwNsVWPmlBA1oE4FXSN3UYeGEW2PPd+///y9vA+38CPl6D80RJ4aSOfECPAI7tWxWfjsBlfvBj4OU3gMf3Dr+OhHDhj8C1y3AaMWUs1g0OISOZBRCuYjF2Bq7yPeHmD/8+EkAaPr4EfHAK+O9/4CwsOMRWbmRyWZkE4LTrpzjfeCVy91lYPw+0/uKqEDpiaPhUllCQbRRQ6S45aXyK880Psxs/fq554eB+6uTghlZYM1UVKXuAfkXPLbiEbJxXhfKDc28B//oHnCLDqKAKVaJyLjdQjfNpeezxyBu4lh9wTl6gBQWUPIAziZ+uOK/K+6eBv6+5IQRFL6AmgLl9t6zH/t3G86ZxZ/6gxU59OoWUpBYAn9vfEC5nHbbIO86r4kJ+oOAF0gvg2D4yfgOmMRXns2I3P0jtBVIJwErmH8d5cvm23X0abOUHtdqjaeYF0s0D0LjfJE/88N543ifjE/SaacTwhOFQtbWZarUwnQAYDsIkjV/6Z/hBaNhInssknM2nuVxaAHzuR9PGM3+agqXkylfota+fg2HGw0RdEnkPwHvm50L/Ldbpf/uLKJ76xDf/i17zOy9H78E0vCe9MiudBIrs/yvQ3LMtaBTw/DExJ/8inMaNWcKOGA08KnOhlACsj/0HISFQckXx1SVo/E93vSvrBJJzApJrAeT+HWkmQncWhQVanXvhdftCcLaSKAzZraSrJAXAzGb/MtAfnKp2piytBVCcD2sFzrlZS8jZAZnLEm/r/q7er+AypvMDH6qFCIlJoeRRwNbWBEzx7HORMdNChjj/G5F1v5TvsJHi+8mZ6HepGJ/e27M/gzEkbCcRAnoNI/GfXPlLb0Rfq5ZhxcNG3fkBuXsqFFWN8zSd/fxs9B6JC38wMz/At0kArWGXJAuAw4wHGFzdo9mzA1PqyZWu/EBHnN9p2ZqmuI2QnAckC4CxJ4UIzEN37+G3oztZpUz7m6/vLcio5AfXPgL++o56nKdVy1fetjxKYRpCgCkPsBv0B3z1pHriFecHFFJ+9W6yQbKO591atq4nXTA0CeSv7a3DFegObv4tcqcqiWKcH5x/a+dEkdw9PUZJnorxKc5TDkOv0Z2ahfFwFDeE4R6gWq2LGUA4BQmAxJAlP6APGnHES7XkJW5c1hvnXSE6OWVjt4fVq4JtMpgfqJZhXf8o+siCE3E+gaBSh7IAer26SALhLLbKtH0pTyN62xlCAGN+tGunkBCGhZzLsGyXoedAggD4uJhThjdkzQ+G4XKcHwYbfuaC9W7h2onzg999qMdF03P8+j2R4b/pZ3laghf3MwmUIWt+4FOcz0DxPMCDUEh480K6RZjwZ94rhvE5z7Aa2EMbRWDPI9FwTWYCKb7zfa5GHoSzjMvBRWFPP4NPgtYNRojhAggqRlqWG+PAcxLXpN5f6TZB0B768LAHxSRCG0VCZsauKK4/ptfLkgP0iuUBRpGxsfawh4cKgP358zaio9RL/KSTvSaQlQLwmHbSBckC4L0rKPETzr9IukRiGBhsoMRPGG8lXSIRAlgpAF9hlUTbJQugWi0F4CsStksUQJhFMpQi0ImZrWQbMq1iJKeCef6J4O3PMDJ8aaByicnZTFIAQf5bX2nZdlS4bqIVvZzN5AQQxZJ85wPijRxFh95j/rWLHdl+gVICiGJJL/9blP44RRaBufcn7bHll4NZZRUmoD/Q4s/d68idBXovtHPZlLhZIH2zypeEURjodikM5F8pTC6Sdui40gVEFRvtYxlvpzlFRNoDRMNBfhYmocreuEuYT+3iBruEmfZknLXSXJ6uIqiHVdiA/pjkEXwYKdC+/8W+aG20jqltN9NcnkoA7PRNGg20YIN4l6+r+UHcPYSaP9jqGcT5JbYcLuFLk74snLGm+EUN2MK1/MClY2SCYBkpUTswwlbL+J2g3TppOonP7R/++MonkMK9LmFKB0aobQyx7QUGydIFRBWK8x+cdqs9HNlE5cegiFNeIIZq+l99d3iL9iwewLVuoPdQuvsJ9a1hLnmBGMoPaOilOz9w/TjZ2vYMFFHeGBLONTN2Ei4yOH9AsVqVwfG8u2cJr6bN/AfJtjOoWl2Cy1XDsfHi+QOZ3nzX+l1D6GdsjudlELN+acf9Dz0FMiJygQXx6QRKzMP5jJibWUUGdB0f715CWHxWReKnHPtj9GwOrdUOhe6oxAwaXH+MFgFE9QJBZjWWyBLMZEn87nsmaKI/KtCiypIhMN5UPSl8x6eDZkQ+sCo+SR9aVJICxk+ylZsL0Ij+BhG1Gr3AsoxcO/waqneWoJlcesCFPYarwTo4q6MkO5T0VXtTuuL+fU+NnChFoIkcjR8+PXKkFEFGcjZ++CuQM6UIFDFg/PDXwAClCFJiyPiEkTZxYauZ6tgkbNUT+kVLZPuTJoxPGO8Ezef2L4lFjEWUPEwO4/zEXwkL8NlnjopZQ1pB9KMdff50xE1xPOvKngrWesGXecFdWlTRY8rlP4j1wwBGOCR0qKJKzOsvwSJOnAYReYPKRetH1JnD6l0/iFPHgYS5QYDFwoYFGt710LQR63fDyfNgwjIzxucLJITQ3aP6/2W23HaqhtLZA4HCsBAEDc89grOGj/HiRKj+sHFefOlLjtASie1ZjN1Zc9XwMR4dCRYKYUIIgcLDQQe9Qr9/QrCms2Inb7wSwCBi+NgQd9lRq2Jg1IyZX/LN6IN4K4BB7uYLJsJEmMlXmhjrtlwYxmWlEAKICYVQqVxFflPMHTF+nyyC4WMKdWhU/4CL/CqTab6+QMYnCndqGDv16XIum1Zppc6hCRxdFPPYONq0qnOnUligob8i1wUKlQMM0h8yXoUOattPFc31xxT24Mh+R7PjyE7h4v4ghfUAMRl3LmvZgesyxT86VnXnssYduC5TeA9A9GcN19P9EJ/sh5FCMxKHR6feuUw7cEfA+MRIeIAYyXxAueWaj4zO8fHEdthObffl2Sjuj1Sji5ESQDhVzIZ1MineVG8So+UBQPnAjbUdp4rDzhuf5X84lmOMnABCov6G95K88JSNm0sYQUZSAGFTq+3tQ4jygQ5txETJ6EHVx2G94QjzLdIWvdPvEPp9AAAAAElFTkSuQmCC
                  trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
                  comments: Comments.
                  paymentMethod: ONLINE
                  carrierServiceType: BROKER
                  rate:
                    shippingPrice:
                      value: 0
                      currency: USD
                    insurancePrice:
                      value: 0
                      currency: USD
                  shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                  shippingFinishedDate: '2024-01-05T11:11:11.000Z'
                  metaData:
                    integrationResponse: {}
                    carrier:
                      name: '[FedEx] Postmen Testing Account'
                      image: null
                      metaData: {}
                      id: fedex
                      type:
                        metaData: {}
                        terms: ''
                        rate:
                          shippingPrice:
                            value: 284.02
                            currency: USD
                          insurancePrice:
                            value: 0
                            currency: USD
                        name: FedEx First Overnight®
                        transitTime: 0
                        shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
                        description: FedEx
                        id: fedex_first_overnight
                        international: false
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: c7c1ce02-b63f-4001-a1ac-798554c85bd6
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Invalid token
                requestId: 09563f82-fe06-4004-b623-85e3aa4c92c9
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                requestId: 9e3ce442-458c-4861-99aa-23b2cd2da9cf
                date: '2024-03-15T06:00:21.009Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&78c83922-d658-48bf-89d5-0658a6a94e27'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
    patch:
      tags:
      - Shipping Updates
      summary: VTex Update service
      description: 'Updates a service with the details of the tracking service via webhook.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Updateservice
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateserviceRequest'
            example:
              message: Service updated successfully
              data:
                status: PENDING
                agent:
                  id: '27327489234'
                  name: Pedro
                  identification: 020323809
                  phone: '+57314855674'
                  email: pedro434234@gmailc.om
                  vehicle: SCOOTER
                trackingUrl: https://localhost.com
                totalDistanceTraveled: 2
                rating: 5
                shippingPrice: 150000
                shippingEstimatedDate: '2024-04-27T20:25:45.067Z'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceBody1'
              example:
                message: Service updated successfully
                data:
                  status: PENDING
                  agent:
                    id: '27327489234'
                    name: Pedro
                    identification: 020323809
                    phone: '+57314855674'
                    email: pedro434234@gmailc.om
                    vehicle: SCOOTER
                  trackingUrl: https://localhost.com
                  totalDistanceTraveled: 2
                  rating: 5
                  shippingPrice: 150000
                  shippingEstimatedDate: '2024-04-27T20:25:45.067Z'
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: b5077045-e5ee-4eeb-8783-467c5454d03c
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Authentication token expired
                requestId: 6d5f5fa2-cf31-4878-9be5-7e094022a206
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                requestId: 8ce83c17-d9c4-434f-94cd-f2016bb7be8a
                date: '2024-03-15T05:59:30.114Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
  /notes/{carrierId}/{serviceId}:
    post:
      tags:
      - Shipping Updates
      summary: VTex Create notes
      description: 'Allows carriers to add notes and information on existing services.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Createnotes
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatenotesRequest'
            example:
            - type: ERROR
              note: The package takes time to be shipped
              author: Oscar Rojas
            - type: COMMENT
              note: The package was picked up
              author: Oscar Rojas
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceBody3'
              example:
                message: Notes saved successfully
                data:
                - type: ERROR
                  note: The package takes time to be shipped
                  author: Oscar Rojas
                - type: COMMENT
                  note: The package was picked up
                  author: Oscar Rojas
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: 3c685f11-45ec-4b8a-88ce-b9fff421eafe
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Authentication token expired
                requestId: 6fd59420-57c6-4111-bb32-e2aa35eff256
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: servicemock
                requestId: 6129725b-fbb1-42dd-9ec2-4fefecce41c1
                date: '2024-03-15T06:14:15.950Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&servicemock'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
  /evidences/{carrierId}/{serviceId}:
    post:
      tags:
      - Shipping Updates
      summary: VTex Create evidence
      description: 'Allows the carrier to add evidence of delivery or pickup to the shipping service, as photos, text.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Createevidence
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateevidenceRequest'
              example:
              - type: IMAGE
                content: https://parkers-images.bauersecure.com/wp-images/18727/courier-van-insurance-01.jpg
                author: Felipe Cardenas
              - type: TEXT
                content: The package was delivered
                author: Felipe Cardenas
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceBody4'
              example:
                message: Evidences saved successfully
                data:
                - type: IMAGE
                  content: https://parkers-images.bauersecure.com/wp-images/18727/courier-van-insurance-01.jpg
                  author: Felipe Cardenas
                - type: TEXT
                  content: The package was delivered
                  author: Felipe Cardenas
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: c482e112-aa73-4dfb-a31c-1586978dfead
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Authentication token expired
                requestId: bcd67893-292d-4547-a01f-62feb56f8a74
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                requestId: b39a0833-629f-429e-8955-f448165502ac
                date: '2024-03-15T06:22:50.518Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
  /labels/{carrierId}/{serviceId}:
    post:
      tags:
      - Shipping Updates
      summary: VTex Create label
      description: "Allows the carrier to create and add a shipping label to an order. \n\nIt is important that the tag ID is a unique value, if this value is repeated it will throw an exception. \n\n> ⚠️ If the label is type `BASE64` or `TXT`, the max size that allowed is 180kb. \n\n## Permissions\n\nThis endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3)."
      operationId: Createlabels
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatelabelsRequest'
            example:
              id: JADF8ADF89-7AD7AF-78ADFASDF
              url: http://s3://mybucket-alpha/orc/2013-10-04-custdata/label-pickup.pdf
              name: Delivery label
              type: PDF
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceBody5'
              example:
                message: Label saved successfully
                data:
                  id: JADF8ADF89-7AD7AF-78ADFASDF
                  url: http://s3://mybucket-alpha/orc/2013-10-04-custdata/label-pickup.pdf
                  name: Delivery label
                  type: PDF
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: c482e112-aa73-4dfb-a31c-1586978dfead
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Authentication token expired
                requestId: 8c0bbb1b-8486-4d94-8136-8586c0ea2efe
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                requestId: b39a0833-629f-429e-8955-f448165502ac
                date: '2024-03-15T06:22:50.518Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
  /cancel/{carrierId}/{serviceId}:
    post:
      tags:
      - Shipping Updates
      summary: VTex Cancel ongoing service
      description: 'Resquest that will cancel an ongoing shipping service.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: PostCancelservice
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOngoingServiceRequest'
            example:
              comment: The delivery address was changed
              type: END_CLIENT_CANCELED
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceBody6'
              example:
                message: Service canceled successfully
                data:
                  comment: The delivery address was changed
                  type: END_CLIENT_CANCELED
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: c482e112-aa73-4dfb-a31c-1586978dfead
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Authentication token expired
                requestId: 8c0bbb1b-8486-4d94-8136-8586c0ea2efe
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                requestId: b39a0833-629f-429e-8955-f448165502ac
                date: '2024-03-15T06:22:50.518Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
  /cancel-service:
    post:
      tags:
      - Shipping Updates
      summary: VTex Cancel service
      description: 'Cancels a specific service.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Createservice
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelServiceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelServiceResponse'
        '400':
          description: Bad request
        '401':
          description: Required authentication
        '404':
          description: Resource not found
        '500':
          description: Internal error
      deprecated: false
      servers:
      - url: https://{store_endpoint}
        variables:
          your_endpoint:
            default: storeapi.com
            description: Server from the store.
  /pause-service:
    post:
      tags:
      - Shipping Updates
      summary: VTex Pause and resume service
      description: 'Pauses or resumes a paused service.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Createservice
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseResumeServiceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PauseResumeServiceResponse'
        '400':
          description: Bad request
        '401':
          description: Required authentication
        '404':
          description: Resource not found
        '500':
          description: Internal error
      deprecated: false
      servers:
      - url: https://{store_endpoint}
        variables:
          your_endpoint:
            default: storeapi.com
            description: Server from the store.
  /on-hold/{carrierId}/{serviceId}:
    post:
      tags:
      - Shipping Updates
      summary: VTex Create on hold service
      description: 'Request that allows a carrier to temporarily pause a shipping service.


        ## Permissions


        This endpoint does not require [permissions](https://help.vtex.com/en/tutorial/license-manager-resources--3q6ztrC8YynQf6rdc6euk3).'
      operationId: Onholdservice
      parameters:
      - name: carrierId
        in: path
        description: Carrier ID.
        required: true
        style: simple
        schema:
          type: string
          example: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
      - name: serviceId
        in: path
        description: Service ID.
        required: true
        style: simple
        schema:
          type: string
          example: 78c83922-d658-48bf-89d5-0658a6a94e27
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnholdserviceRequest'
            example:
              comment: The delivery address was changed
              type: END_CLIENT_PAUSE
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ServiceBody6'
              example:
                message: Service on hold successfully
                data:
                  comment: The delivery address was changed
                  type: END_CLIENT_PAUSE
        '401':
          description: Unauthorized
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Unauthorized
                requestId: c482e112-aa73-4dfb-a31c-1586978dfead
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/m4031'
              example:
                message: Authentication token expired
                requestId: 8c0bbb1b-8486-4d94-8136-8586c0ea2efe
        '404':
          description: Not Found
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/m4041'
              example:
                type: exception
                code: TRP0005E
                data:
                  '0': '1'
                  carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
                  serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
                requestId: b39a0833-629f-429e-8955-f448165502ac
                date: '2024-03-15T06:22:50.518Z'
                message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&_78c83922-d658-48bf-89d5-0658a6a94e27'''
      deprecated: false
      servers:
      - url: https://api.pickingnpacking.com/{environment}/v1/tracking/hook
        variables:
          environment:
            default: DefaultParameterValue
components:
  schemas:
    Data15:
      required:
      - id
      - url
      - name
      - type
      type: object
      properties:
        id:
          type: string
          description: Label ID.
        url:
          type: string
          description: Label URL.
        name:
          type: string
          description: Label name.
        type:
          type: string
          description: Label type.
      example:
        id: JADF8ADF89-7AD7AF-78ADFASDF
        url: http://s3://mybucket-alpha/orc/2013-10-04-custdata/label-pickup.pdf
        name: Delivery label
        type: PDF
    ShippingPrice:
      required:
      - value
      - currency
      type: object
      description: Shipping cost information.
      properties:
        value:
          type: integer
          format: int32
          description: Shipping cost in cents.
        currency:
          type: string
          description: Currency code in [ISO 4217](https://www.iban.com/currency-codes) format.
      example:
        value: 0
        currency: USD
    CancelServiceResponse:
      type: object
      required:
      - message
      - data
      properties:
        message:
          type: string
          example: Service executed successfully
          description: Message of successful cancelation.
        data:
          type: object
          description: Object containing service information.
          required:
          - serviceId
          - carrierId
          - reason
          properties:
            serviceId:
              type: string
              description: Service ID.
              example: apknieot924892jaf-1231
            carrierId:
              type: string
              description: Carrier ID.
              example: servientrega9234jaf
            reason:
              type: string
              example: En el lugar de residencia no hay quien reciba el paquete
              description: Reason for the cancelation.
    Agent:
      required:
      - id
      - name
      - identification
      - phone
      - email
      - vehicle
      type: object
      properties:
        id:
          type: string
          description: Agent ID.
        name:
          type: string
          description: Agent name.
        identification:
          type: string
          description: Agent identification.
        phone:
          type: string
          description: Agent phone number.
        email:
          type: string
          description: Agent email.
        vehicle:
          type: string
          description: Agent vehicle.
      example:
        id: '27327489234'
        name: Pedro
        identification: 020323809
        phone: '+57314855674'
        email: pedro434234@gmailc.om
        vehicle: SCOOTER
    m4031:
      required:
      - message
      - requestId
      type: object
      description: Request information.
      properties:
        message:
          type: string
          description: Request message.
        requestId:
          type: string
          description: Request ID.
      example:
        message: Invalid token
        requestId: 09563f82-fe06-4004-b623-85e3aa4c92c9
    Data3:
      required:
      - status
      - agent
      - trackingUrl
      - totalDistanceTraveled
      - rating
      - shippingPrice
      - shippingEstimatedDate
      type: object
      properties:
        status:
          type: string
          description: Service status.
        agent:
          $ref: '#/components/schemas/Agent'
          description: Service agent.
        trackingUrl:
          type: string
          description: Service tracking URL.
        totalDistanceTraveled:
          type: integer
          format: int32
          description: Delivery total distance traveled in kilometers.
        rating:
          type: integer
          format: int32
          description: Rating.
        shippingPrice:
          type: integer
          format: int32
          description: Shipping price.
        shippingEstimatedDate:
          type: string
          description: Shipping estimated date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
      example:
        status: PENDING
        agent:
          id: '27327489234'
          name: Pedro
          identification: 020323809
          phone: '+57314855674'
          email: pedro434234@gmailc.om
          vehicle: SCOOTER
        trackingUrl: https://localhost.com
        totalDistanceTraveled: 2
        rating: 5
        shippingPrice: 150000
        shippingEstimatedDate: '2024-04-27T20:25:45.067Z'
    Data18:
      required:
      - comment
      - type
      type: object
      properties:
        comment:
          type: string
          description: Service comment.
        type:
          type: string
          description: Service type.
      example:
        comment: The delivery address was changed
        type: END_CLIENT_CANCELED
    CancelOngoingServiceRequest:
      required:
      - comment
      - type
      type: object
      properties:
        comment:
          type: string
          description: Service comment.
        type:
          type: string
          description: Service type.
      example:
        comment: The delivery address was changed
        type: END_CLIENT_CANCELED
    Package:
      required:
      - id
      - orderId
      - envelope
      - dimensions
      - weight
      - totalValue
      - items
      - categories
      - description
      type: object
      description: Package information.
      properties:
        id:
          type: string
          description: Package ID.
        orderId:
          type: string
          description: Order ID.
        envelope:
          type: string
          description: Name of the envelope used.
        dimensions:
          $ref: '#/components/schemas/Dimensions'
          description: Package dimensions.
        weight:
          type: string
          description: Package weight in grams.
        totalValue:
          type: integer
          format: int32
          description: Total value of the order.
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
            description: Product general information.
          description: Array containing information about the order's products.
        categories:
          type: array
          items:
            type: string
            description: Category name.
          description: Array of categories.
        description:
          type: string
          description: Package description.
      example:
        id: a46e5bc1-8959-459f-a094-b6e699f7214c
        orderId: 46369545534253-01
        envelope: Foam or Plastic Containers
        dimensions:
          height: '5'
          length: '11'
          width: '7'
        weight: '48'
        totalValue: 5352
        items:
        - id: '184'
          name: Chicken
          ean: EAN354
          quantity: 8
          price: 669
          refId: '314'
          image: https://picsum.photos/seed/YtoZ9/128/480
          type: other
          weight: '6'
        categories:
        - Movies
        - Garden
        - Books
        description: Unde deserunt libero cupiditate illum.
    MetaData1:
      required:
      - integrationResponse
      - carrier
      type: object
      description: Metadata about the Carrier.
      properties:
        integrationResponse:
          type: object
          description: Carrier integration information.
        carrier:
          $ref: '#/components/schemas/Carrier'
      example:
        integrationResponse: {}
        carrier:
          name: '[FedEx] Postmen Testing Account'
          image: null
          metaData: {}
          id: fedex
          type:
            metaData: {}
            terms: ''
            rate:
              shippingPrice:
                value: 284.02
                currency: USD
              insurancePrice:
                value: 0
                currency: USD
            name: FedEx First Overnight®
            transitTime: 0
            shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
            description: FedEx
            id: fedex_first_overnight
            international: false
    Item:
      title: Item
      required:
      - id
      - name
      - ean
      - quantity
      - price
      - refId
      - image
      - type
      - weight
      type: object
      properties:
        id:
          type: string
          description: Product ID.
        name:
          type: string
          description: Product name.
        ean:
          type: string
          description: Unique SKU identification code (barcode). Up to 13 numerical characters.
        quantity:
          type: integer
          format: int32
          description: Quantity of units of the product.
        price:
          type: integer
          format: int32
          description: Product price in cents.
        refId:
          type: string
          description: Product reference ID.
        image:
          type: string
          description: SKU image.
        type:
          type: string
          description: Item type.
        weight:
          type: string
          description: Product weight in grams.
      example:
        id: '184'
        name: Chicken
        ean: EAN354
        quantity: 8
        price: 669
        refId: '314'
        image: https://picsum.photos/seed/YtoZ9/128/480
        type: other
        weight: '6'
    CreateevidenceRequest:
      required:
      - type
      - content
      - author
      type: object
      properties:
        type:
          type: string
          description: Note's type.
        note:
          type: string
          description: Note's text.
        author:
          type: string
          description: Note's author.
      example:
        type: IMAGE
        content: https://parkers-images.bauersecure.com/wp-images/18727/courier-van-insurance-01.jpg
        author: Felipe Cardenas
    ServiceBody4:
      required:
      - message
      - data
      type: object
      properties:
        message:
          type: string
          description: Service message.
        data:
          type: array
          items:
            $ref: '#/components/schemas/Data12'
          description: Service data.
      example:
        message: Evidences saved successfully
        data:
        - type: IMAGE
          content: https://parkers-images.bauersecure.com/wp-images/18727/courier-van-insurance-01.jpg
          author: Felipe Cardenas
        - type: TEXT
          content: The package was delivered
          author: Felipe Cardenas
    Rate1:
      required:
      - shippingPrice
      - insurancePrice
      type: object
      description: Rate cost information.
      properties:
        shippingPrice:
          $ref: '#/components/schemas/ShippingPrice1'
        insurancePrice:
          $ref: '#/components/schemas/InsurancePrice'
      example:
        shippingPrice:
          value: 284.02
          currency: USD
        insurancePrice:
          value: 0
          currency: USD
    Note:
      required:
      - type
      - date
      - content
      - author
      type: object
      description: Notes with delivery information.
      properties:
        type:
          type: string
          description: Type of note.
        date:
          type: string
          description: Date of creation of the note in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        content:
          type: string
          description: Content of the note.
        author:
          type: string
          description: Author of the note.
      example:
        type: COMMENT
        date: '2024-03-09T01:43:16.280Z'
        content: 'Tracking Number: 10001709948594168'
        author: afterShip
    OnholdserviceRequest:
      required:
      - comment
      - type
      type: object
      properties:
        comment:
          type: string
          description: Service comment.
        type:
          type: string
          description: Service type.
      example:
        comment: The delivery address was changed
        type: END_CLIENT_PAUSE
    ServiceBody6:
      required:
      - message
      - data
      type: object
      properties:
        message:
          type: string
          description: Service message.
        data:
          $ref: '#/components/schemas/Data18'
          description: Service data.
      example:
        message: Service canceled successfully
        data:
          comment: The delivery address was changed
          type: END_CLIENT_CANCELED
    ServiceBody5:
      required:
      - message
      - data
      type: object
      properties:
        message:
          type: string
          description: Service message.
        data:
          $ref: '#/components/schemas/Data15'
          description: Service data.
      example:
        message: Label saved successfully
        data:
          id: JADF8ADF89-7AD7AF-78ADFASDF
          url: http://s3://mybucket-alpha/orc/2013-10-04-custdata/label-pickup.pdf
          name: Delivery label
          type: PDF
    Timezone:
      required:
      - offset
      - value
      - label
      type: object
      description: Time zone information.
      properties:
        offset:
          type: integer
          format: int32
          description: Time zone offset.
        value:
          type: string
          description: Time zone.
        label:
          type:
          - string
          - 'null'
          description: Label.
      example:
        offset: 300
        value: America/Bogota
        label: null
    ShippingPrice1:
      required:
      - value
      - currency
      type: object
      description: Shipping cost information.
      properties:
        value:
          type: integer
          format: int32
          description: Shipping cost in cents.
        currency:
          type: string
          description: Cost currency code in [ISO 4217](https://www.iban.com/currency-codes) format..
      example:
        value: 284.02
        currency: USD
    Data1:
      required:
      - '0'
      - carrierId
      - serviceId
      type: object
      description: Request data.
      properties:
        '0':
          type: string
          description: Request item.
        carrierId:
          type: string
          description: Carrier ID.
        serviceId:
          type: string
          description: Service ID.
      example:
        '0': '1'
        carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
        serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
    CreatelabelsRequest:
      required:
      - id
      - url
      - name
      - type
      type: object
      properties:
        id:
          type: string
          description: Label ID.
        url:
          type: string
          description: Label URL.
        name:
          type: string
          description: Label name.
        type:
          type: string
          description: Label type.
      example:
        id: JADF8ADF89-7AD7AF-78ADFASDF
        url: http://s3://mybucket-alpha/orc/2013-10-04-custdata/label-pickup.pdf
        name: Delivery label
        type: PDF
    UpdateserviceRequest:
      required:
      - status
      - agent
      - trackingUrl
      - totalDistanceTraveled
      - rating
      - shippingPrice
      - shippingEstimatedDate
      type: object
      properties:
        status:
          type: string
          description: Delivery status.
        agent:
          type:
          - string
          - 'null'
          description: Delivery agent.
        trackingUrl:
          type: string
          description: Delivery tracking URL.
        totalDistanceTraveled:
          type:
          - string
          - 'null'
          description: Delivery total distance traveled in kilometers.
        rating:
          type:
          - string
          - 'null'
          description: Rating.
        shippingPrice:
          type:
          - string
          - 'null'
          description: Delivery shipping price in cents.
        shippingEstimatedDate:
          type:
          - string
          - 'null'
          description: Shipping estimated date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
      example:
        status: DELIVERED
        agent: null
        trackingUrl: https://localhost.com
        totalDistanceTraveled: null
        rating: null
        shippingPrice: null
        shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
    Rate:
      required:
      - shippingPrice
      - insurancePrice
      type: object
      description: Rate cost information.
      properties:
        shippingPrice:
          $ref: '#/components/schemas/ShippingPrice'
        insurancePrice:
          $ref: '#/components/schemas/InsurancePrice'
      example:
        shippingPrice:
          value: 0
          currency: USD
        insurancePrice:
          value: 0
          currency: USD
    Label:
      required:
      - id
      - name
      - url
      - type
      type: object
      properties:
        id:
          type: string
          description: Label ID.
        name:
          type: string
          description: Name of the label.
        url:
          type: string
          description: Label URL.
        type:
          type: string
          description: Label's type of file.
      example:
        id: 78c83922-d658-48bf-89d5-0658a6a94e27
        name: Shipping label
        url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
        type: PDF
    PauseResumeServiceRequest:
      type: object
      required:
      - serviceId
      - carrierId
      - settings
      - reason
      - metaData
      properties:
        serviceId:
          type: string
          example: apknieot924892jaf-1231
          description: Service ID.
        carrierId:
          type: string
          example: servientrega9234jaf
          description: Carrier ID.
        pause:
          type: boolean
          description: Condition that the service is paused (`false`) or not (`true`).
          example: false
        settings:
          type: array
          description: Array of custom fields.
          items:
            type: object
            required:
            - label
            - key
            - value
            properties:
              label:
                type: string
                example: Cliente ID
                description: Custom label.
              key:
                type: string
                example: clientId
                description: Custom key.
              value:
                type: string
                example: HUR123
                description: Custom value.
        reason:
          type: string
          example: La dirección de entrega esta mal registrada
          description: Reason for the pause or resume.
        metaData:
          type: object
          description: Object containing service metadata.
          properties:
            myFieldCustom:
              type: string
              example: custom value
              description: Custom value.
    Dimensions:
      required:
      - height
      - length
      - width
      type: object
      properties:
        height:
          type: string
          description: Package height in centimeters.
        length:
          type: string
          description: Package length in centimeters.
        width:
          type: string
          description: Package width in centimeters.
      example:
        height: '5'
        length: '11'
        width: '7'
    Carrier:
      required:
      - name
      - image
      - metaData
      - id
      - type
      type: object
      description: Object containing information about a carrier.
      properties:
        name:
          type: string
          description: Carrier name.
        image:
          type:
          - string
          - 'null'
          description: Carrier logo.
        metaData:
          type: object
          description: Carrier metadata.
        id:
          type: string
          description: Carrier ID.
        type:
          $ref: '#/components/schemas/Type'
          description: Carrier type.
      example:
        name: '[FedEx] Postmen Testing Account'
        image: null
        metaData: {}
        id: fedex
        type:
          metaData: {}
          terms: ''
          rate:
            shippingPrice:
              value: 284.02
              currency: USD
            insurancePrice:
              value: 0
              currency: USD
          name: FedEx First Overnight®
          transitTime: 0
          shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
          description: FedEx
          id: fedex_first_overnight
          international: false
    Data9:
      required:
      - type
      - note
      - author
      type: object
      properties:
        type:
          type: string
          description: Note's type.
        note:
          type: string
          description: Note's text.
        author:
          type: string
          description: Note's author.
      example:
        type: ERROR
        note: The package takes time to be shipped
        author: Oscar Rojas
    ServiceBody3:
      required:
      - message
      - data
      type: object
      properties:
        message:
          type: string
          description: Service message.
        data:
          type: array
          items:
            $ref: '#/components/schemas/Data9'
          description: Service data.
      example:
        message: Notes saved successfully
        data:
        - type: ERROR
          note: The package takes time to be shipped
          author: Oscar Rojas
        - type: COMMENT
          note: The package was picked up
          author: Oscar Rojas
    ServiceBody1:
      required:
      - message
      - data
      type: object
      properties:
        message:
          type: string
          description: Service message.
        data:
          $ref: '#/components/schemas/Data3'
          description: Service data.
      example:
        message: Service updated successfully
        data:
          status: PENDING
          agent:
            id: '27327489234'
            name: Pedro
            identification: 020323809
            phone: '+57314855674'
            email: pedro434234@gmailc.om
            vehicle: SCOOTER
          trackingUrl: https://localhost.com
          totalDistanceTraveled: 2
          rating: 5
          shippingPrice: 150000
          shippingEstimatedDate: '2024-04-27T20:25:45.067Z'
    generatedObject:
      required:
      - type
      - note
      - author
      type: object
      properties:
        type:
          type: string
          description: Type of extra information about the item's shipping.
        note:
          type: string
          description: Text with extra information about the item's shipping.
        author:
          type: string
          description: Author.
      example:
        type: COMMENT
        note: The package is delivered at the door
        author: afterShip
    m4041:
      required:
      - type
      - code
      - data
      - requestId
      - date
      - message
      type: object
      description: Request information.
      properties:
        type:
          type: string
          description: Type of request.
        code:
          type: string
          description: Request code.
        data:
          $ref: '#/components/schemas/Data1'
        requestId:
          type: string
          description: Request ID.
        date:
          type: string
          description: Request date.
        message:
          type: string
          description: Request message.
      example:
        type: exception
        code: TRP0005E
        data:
          '0': '1'
          carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
          serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
        requestId: 9e3ce442-458c-4861-99aa-23b2cd2da9cf
        date: '2024-03-15T06:00:21.009Z'
        message: 'Service not found: ''MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&78c83922-d658-48bf-89d5-0658a6a94e27'''
    ServiceBody:
      required:
      - message
      - data
      type: object
      properties:
        message:
          type: string
          description: Status message about the request.
        data:
          $ref: '#/components/schemas/Data'
          type: object
          description: Service general information.
    CreatenotesRequest:
      required:
      - type
      - note
      - author
      type: object
      properties:
        type:
          type: string
          description: Note's type.
        note:
          type: string
          description: Note's text.
        author:
          type: string
          description: Note's author.
      example:
        type: ERROR
        note: The package takes time to be shipped
        author: Oscar Rojas
    Timeline:
      required:
      - id
      - date
      - createdAt
      - updatedAt
      - type
      - description
      - author
      - metaData
      type: object
      properties:
        id:
          type: string
          description: Timeline ID.
        date:
          type: string
          description: Timeline actual date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        createdAt:
          type: string
          description: Order's creation date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        updatedAt:
          type: string
          description: Date of the order's last update in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        type:
          type: string
          description: Order status.
        description:
          type: string
          description: Description of the status.
        author:
          type: string
          description: Status author.
        metaData:
          $ref: '#/components/schemas/MetaData'
          description: Metadata about the delivery information.
      example:
        id: 77263f59-0ac5-4b0c-bfe5-f17a1648474d
        date: '2024-03-09T01:33:14.917Z'
        createdAt: '2024-03-09T01:33:14.917Z'
        updatedAt: '2024-03-09T01:33:14.917Z'
        type: STATUS
        description: Service pending in DEV
        author: System
        metaData:
          shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
          metaData: null
          serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
          shippingPrice: 284.02
          status: PENDING
          labels:
          - name: Shipping label
            id: 78c83922-d658-48bf-89d5-0658a6a94e27
            type: PDF
            url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
    Data12:
      required:
      - type
      - content
      - author
      type: object
      properties:
        type:
          type: string
          description: Note's type.
        note:
          type: string
          description: Note's text.
        author:
          type: string
          description: Note's author.
      example:
        type: IMAGE
        content: https://parkers-images.bauersecure.com/wp-images/18727/courier-van-insurance-01.jpg
        author: Felipe Cardenas
    CancelServiceRequest:
      type: object
      required:
      - serviceId
      - carrierId
      - settings
      - reason
      - metaData
      properties:
        serviceId:
          type: string
          example: apknieot924892jaf-1231
          description: Service ID.
        carrierId:
          type: string
          example: servientrega9234jaf
          description: Carrier ID.
        settings:
          type: array
          description: Array of custom fields.
          items:
            type: object
            required:
            - label
            - key
            - value
            properties:
              label:
                type: string
                example: Cliente ID
                description: Custom label.
              key:
                type: string
                example: clientId
                description: Custom key.
              value:
                type: string
                example: HUR123
                description: Custom value.
        reason:
          type: string
          example: La dirección de entrega esta mal registrada
          description: Reason for the cancelation.
        metaData:
          type: object
          description: Object containing service metadata.
          properties:
            myFieldCustom:
              type: string
              example: custom value
              description: Custom value.
    MetaData:
      title: MetaData
      type: object
      properties:
        '0':
          $ref: '#/components/schemas/generatedObject'
          description: Item ID in the cart.
        shippingEstimatedDate:
          type:
          - string
          - 'null'
          description: Order's Shipping estimated date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        metaData:
          type:
          - string
          - 'null'
          description: Metadata.
        serviceId:
          type: string
          description: Service ID.
        shippingPrice:
          type: number
          description: Order's shipping price in cents.
        status:
          type: string
          description: Shipping status.
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
          description: Shipping labels, there may be more than one per order due to breakage in packages.
        trackingUrl:
          type: string
          description: Carrier's tracking URL of the order.
        name:
          type: string
          description: Carrier name.
        id:
          type: string
          description: Tracking ID.
        type:
          type: string
          description: Type of transportation.
        url:
          type: string
          description: Carrier URL.
      example:
        shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
        metaData: null
        serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
        shippingPrice: 284.02
        status: PENDING
        labels:
        - name: Shipping label
          id: 78c83922-d658-48bf-89d5-0658a6a94e27
          type: PDF
          url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
    Type:
      title: Type
      required:
      - metaData
      - terms
      - rate
      - name
      - transitTime
      - shippingEstimatedDate
      - description
      - id
      - international
      type: object
      properties:
        metaData:
          type: object
          description: Carrier metadata.
        terms:
          type: string
          description: Carrier terms.
        rate:
          $ref: '#/components/schemas/Rate1'
          description: Carrier rate.
        name:
          type: string
          description: Carrier name.
        transitTime:
          type: integer
          format: int32
          description: Carrier transit time.
        shippingEstimatedDate:
          type:
          - string
          - 'null'
          description: Carrier Shipping estimated date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        description:
          type: string
          description: Carrier description.
        id:
          type: string
          description: Carrier ID.
        international:
          type: boolean
          description: Defines if the carrier is international (`true`) or not (`false`).
      example:
        metaData: {}
        terms: ''
        rate:
          shippingPrice:
            value: 284.02
            currency: USD
          insurancePrice:
            value: 0
            currency: USD
        name: FedEx First Overnight®
        transitTime: 0
        shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
        description: ''
        id: fedex_first_overnight
        international: false
    InsurancePrice:
      required:
      - value
      - currency
      type: object
      description: Insurance cost information.
      properties:
        value:
          type: integer
          format: int32
          description: Insurance cost in cents.
        currency:
          type: string
          description: Currency code in [ISO 4217](https://www.iban.com/currency-codes) format.
      example:
        value: 0
        currency: USD
    Data:
      required:
      - id
      - orderId
      - carrierId
      - serviceId
      - carrierName
      - seller
      - status
      - type
      - tags
      - labels
      - evidences
      - packages
      - timeline
      - notes
      - timezone
      - carrierLogo
      - trackingUrl
      - comments
      - paymentMethod
      - carrierServiceType
      - rate
      - shippingEstimatedDate
      - shippingFinishedDate
      - metaData
      properties:
        id:
          type: string
          description: Service ID.
        orderId:
          type: string
          description: Order ID.
        carrierId:
          type: string
          description: Carrier ID.
        serviceId:
          type: string
          description: Service ID.
        carrierName:
          type: string
          description: Carrier name.
        seller:
          type: string
          description: Identifier representing the seller associated with the order.
        status:
          type: string
          description: Order [status](https://help.vtex.com/en/tutorial/order-flow-and-status--tutorials_196).
        type:
          type: string
          description: Order's type of delivery, `Delivery` or [`Pickup`](https://help.vtex.com/en/tutorial/pickup-points--2fljn6wLjn8M4lJHA6HP3R).
        tags:
          type: array
          items:
            type: string
            description: Extra information added in the order.
          description: Array of tags.
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
          description: Array containing information about all shipping labels printed in the order.
        evidences:
          type: array
          items:
            type: string
            description: Message explaining the delivery incident.
          description: Array with additional notes when an incident occurs in the delivery of the package.
        packages:
          type: array
          items:
            $ref: '#/components/schemas/Package'
          description: Array containing information about all order's packages.
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/Timeline'
          description: Array containing information about the timeline of order changes.
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'
          description: Array with services information.
        timezone:
          $ref: '#/components/schemas/Timezone'
        carrierLogo:
          type: string
          description: Carrier logo.
        trackingUrl:
          type: string
          description: Tracking URL.
        comments:
          type: string
          description: Comments.
        paymentMethod:
          type: string
          description: Payment method.
        carrierServiceType:
          type: string
          description: Carrier service type. The `carrierServiceType` value is not limited to these specific values. It will be defined by the carrier integrating with the Pick and Pack Last Mile Protocol API.
          enum:
          - BROKER
          - PICKUP_IN_STORE
          - NATIONAL
          - INTERNATIONAL
          - EXPRESS
          - SPECIALIZED
          - OTHERS
        rate:
          $ref: '#/components/schemas/Rate'
        shippingEstimatedDate:
          type: string
          description: Shipping estimated date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        shippingFinishedDate:
          type:
          - string
          - 'null'
          description: Shipping finished date in [UTC time format](https://learn.microsoft.com/en-us/rest/api/storageservices/formatting-datetime-values), as in `YYYY-MM-DDThh:mm:ssZ`.
        metaData:
          $ref: '#/components/schemas/MetaData1'
      example:
        id: 519400fb-f980-4a6a-809c-9f986fdb98a4
        orderId: 46369545534253-01
        carrierId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50
        serviceId: MTEyMjMtQWZ0ZXJTaGlwLWRldmVsb3BtZW50&78c83922-d658-48bf-89d5-0658a6a94e27
        carrierName: AfterShip
        seller: lastmile
        status: DELIVERED
        type: PICKUP_DELIVERY
        tags: []
        labels:
        - id: 78c83922-d658-48bf-89d5-0658a6a94e27
          name: Shipping label
          url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
          type: PDF
        evidences: []
        packages:
        - id: a46e5bc1-8959-459f-a094-b6e699f7214c
          orderId: 46369545534253-01
          envelope: Foam or Plastic Containers
          dimensions:
            height: '5'
            length: '11'
            width: '7'
          weight: '48'
          totalValue: 5352
          items:
          - id: '184'
            name: Chicken
            ean: EAN354
            quantity: 8
            price: 669
            refId: '314'
            image: https://picsum.photos/seed/YtoZ9/128/480
            type: other
            weight: '6'
          categories:
          - Movies
          - Garden
          - Books
          description: Unde deserunt libero cupiditate illum.
        timeline:
        - id: 77263f59-0ac5-4b0c-bfe5-f17a1648474d
          date: '2024-03-09T01:33:14.917Z'
          createdAt: '2024-03-09T01:33:14.917Z'
          updatedAt: '2024-03-09T01:33:14.917Z'
          type: STATUS
          description: Service pending in DEV
          author: System
          metaData:
            shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
            metaData: null
            serviceId: 78c83922-d658-48bf-89d5-0658a6a94e27
            shippingPrice: 284.02
            status: PENDING
            labels:
            - name: Shipping label
              id: 78c83922-d658-48bf-89d5-0658a6a94e27
              type: PDF
              url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
        - id: 9906da15-15e4-4dbd-8e90-c34ec43ed446
          date: '2024-03-09T01:46:20.006Z'
          createdAt: '2024-03-09T01:46:20.006Z'
          updatedAt: '2024-03-09T01:46:20.006Z'
          type: NOTE
          description: A new note has been added
          author: afterShip
          metaData:
            '0':
              type: COMMENT
              note: The package is delivered at the door
              author: afterShip
        - id: 35619274-3bca-4749-8a38-53a62776144a
          date: '2024-03-09T01:44:17.437Z'
          createdAt: '2024-03-09T01:44:17.437Z'
          updatedAt: '2024-03-09T01:44:17.437Z'
          type: NOTE
          description: A new note has been added
          author: afterShip
          metaData:
            '0':
              type: COMMENT
              note: 'Tracking Number: 10001709948594168'
              author: afterShip
        - id: 9b60e3fd-5bf9-43c6-99f2-4292a57fa408
          date: '2024-03-09T01:46:19.689Z'
          createdAt: '2024-03-09T01:46:19.689Z'
          updatedAt: '2024-03-09T01:46:19.689Z'
          type: STATUS
          description: The package was delivered
          author: System
          metaData:
            shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
            trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
            status: DELIVERED
        - id: 21c9acaa-e14b-41bd-aaa7-a2cebd7384c0
          date: '2024-03-09T01:43:15.887Z'
          createdAt: '2024-03-09T01:43:15.887Z'
          updatedAt: '2024-03-09T01:43:15.887Z'
          type: STATUS
          description: Service pending
          author: System
          metaData:
            shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
            trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
            status: PENDING
        - id: 7a1a3a63-f94c-49f1-a912-bc3f095d7845
          date: '2024-03-09T01:45:18.812Z'
          createdAt: '2024-03-09T01:45:18.812Z'
          updatedAt: '2024-03-09T01:45:18.812Z'
          type: STATUS
          description: Courier picked the package
          author: System
          metaData:
            shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
            trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
            status: PICKED
        - id: 9ca25940-bdae-4f19-a5b4-92477abfa059
          date: '2024-03-09T01:33:14.978Z'
          createdAt: '2024-03-09T01:33:14.978Z'
          updatedAt: '2024-03-09T01:33:14.978Z'
          type: LABEL
          description: Added a label
          author: System
          metaData:
            name: Shipping label
            id: 78c83922-d658-48bf-89d5-0658a6a94e27
            type: PDF
            url: https://sandbox-download.postmen.com/label/2024-03-09/258a26a4-45ae-49eb-b64d-929d3b81f46d-1709947994279763.pdf
        - id: 24b84b8b-7418-4ed8-bc89-b6a1cbee2331
          date: '2024-03-09T01:43:16.289Z'
          createdAt: '2024-03-09T01:43:16.289Z'
          updatedAt: '2024-03-09T01:43:16.289Z'
          type: NOTE
          description: A new note has been added
          author: afterShip
          metaData:
            '0':
              type: COMMENT
              note: 'Tracking Number: 10001709948594168'
              author: afterShip
        - id: 9dfad688-e99a-4b27-9ccb-959da40c3bf8
          date: '2024-03-09T01:33:08.385Z'
          createdAt: '2024-03-09T01:33:08.385Z'
          updatedAt: '2024-03-09T01:33:08.385Z'
          type: STATUS
          description: Service creation by AfterShip
          author: System
          metaData:
            status: CREATED
        - id: 781ab0af-e62a-4a21-a837-8d0eea3f57c2
          date: '2024-03-09T01:44:17.077Z'
          createdAt: '2024-03-09T01:44:17.077Z'
          updatedAt: '2024-03-09T01:44:17.077Z'
          type: STATUS
          description: Courier on route
          author: System
          metaData:
            shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
            trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
            status: ON_ROUTE
        notes:
        - type: COMMENT
          date: '2024-03-09T01:43:16.280Z'
          content: 'Tracking Number: 10001709948594168'
          author: afterShip
        - type: COMMENT
          date: '2024-03-09T01:44:17.423Z'
          content: 'Tracking Number: 10001709948594168'
          author: afterShip
        - type: COMMENT
          date: '2024-03-09T01:46:19.998Z'
          content: The package is delivered at the door
          author: afterShip
        timezone:
          offset: 300
          value: America/Bogota
          label: null
        carrierLogo: iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAtTSURBVHgB7Z1PbBvHFca/WZICXCCFkt6aAGEORZ3YjaVD0d5MpUCL5BIZydGprUOKRBYg+ZQUDSqxSIG0F8uB7PZmufYxruVLghRwRN9S9GDZTpwUPZgB6t6aEE3hAKLEybxdrk3bEnd2dnb+LPcHyJLMFUXqffvem5k3bxgKCF+YGMfmZl18OYEAdXD2pPi6DoZ6dAEbF/+M3/9TrAPGO+DoiG/ooy2+/0JctyE+Omzl8xYKCEMB4At769gMGmDsoHhHDWHEOvJhI/zg/ArGxlpseaMNz/FWAHxubwMIpsVbeDFHgyexIbzEFaC35quH8EoAd43OgyMPu3DLMBEyOFqo1Zo+eQbnBdCP59PCvQujC/fuBy0RJs6y0zdX4TjOCqBv+HmwYMG5u10W8go93nRZCM4JoBCGfxCHheCUAPjsM0cRsEWLSV2+OCgEJwTAX5uoo9I9A39ifDY4XxPDyOMuJIsBLCPu+kVh/FsYFeMTjE2j270VvnfbLwWWGLm7fjcoLFRrU7a8gRUPwI/tO4LK1lWMuvEJyne2uuth/mMB4x5AGP+E+LSAkofhfEkkiE0YxJgAwuFdt3sR5V0/nChBnBEhoQMDGBFAGO+r3fXCDu90YzAvyF0ApfEVMSSCXAVQGj8jBkSQmwBK42siZxHkIoDS+JrJUQTaBRBm+1vdq6XxtbOBWigCraMD/RNBm1tnSuPnwoQYRp+AZrQKgM/uXwTj0yjJi6P89ae1TqJpCwF87mkq1boIH/jOI8BPhE4f+370/e1/AtcvA3e+hhcwNsVWPmlBA1oE4FXSN3UYeGEW2PPd+///y9vA+38CPl6D80RJ4aSOfECPAI7tWxWfjsBlfvBj4OU3gMf3Dr+OhHDhj8C1y3AaMWUs1g0OISOZBRCuYjF2Bq7yPeHmD/8+EkAaPr4EfHAK+O9/4CwsOMRWbmRyWZkE4LTrpzjfeCVy91lYPw+0/uKqEDpiaPhUllCQbRRQ6S45aXyK880Psxs/fq554eB+6uTghlZYM1UVKXuAfkXPLbiEbJxXhfKDc28B//oHnCLDqKAKVaJyLjdQjfNpeezxyBu4lh9wTl6gBQWUPIAziZ+uOK/K+6eBv6+5IQRFL6AmgLl9t6zH/t3G86ZxZ/6gxU59OoWUpBYAn9vfEC5nHbbIO86r4kJ+oOAF0gvg2D4yfgOmMRXns2I3P0jtBVIJwErmH8d5cvm23X0abOUHtdqjaeYF0s0D0LjfJE/88N543ifjE/SaacTwhOFQtbWZarUwnQAYDsIkjV/6Z/hBaNhInssknM2nuVxaAHzuR9PGM3+agqXkylfota+fg2HGw0RdEnkPwHvm50L/Ldbpf/uLKJ76xDf/i17zOy9H78E0vCe9MiudBIrs/yvQ3LMtaBTw/DExJ/8inMaNWcKOGA08KnOhlACsj/0HISFQckXx1SVo/E93vSvrBJJzApJrAeT+HWkmQncWhQVanXvhdftCcLaSKAzZraSrJAXAzGb/MtAfnKp2piytBVCcD2sFzrlZS8jZAZnLEm/r/q7er+AypvMDH6qFCIlJoeRRwNbWBEzx7HORMdNChjj/G5F1v5TvsJHi+8mZ6HepGJ/e27M/gzEkbCcRAnoNI/GfXPlLb0Rfq5ZhxcNG3fkBuXsqFFWN8zSd/fxs9B6JC38wMz/At0kArWGXJAuAw4wHGFzdo9mzA1PqyZWu/EBHnN9p2ZqmuI2QnAckC4CxJ4UIzEN37+G3oztZpUz7m6/vLcio5AfXPgL++o56nKdVy1fetjxKYRpCgCkPsBv0B3z1pHriFecHFFJ+9W6yQbKO591atq4nXTA0CeSv7a3DFegObv4tcqcqiWKcH5x/a+dEkdw9PUZJnorxKc5TDkOv0Z2ahfFwFDeE4R6gWq2LGUA4BQmAxJAlP6APGnHES7XkJW5c1hvnXSE6OWVjt4fVq4JtMpgfqJZhXf8o+siCE3E+gaBSh7IAer26SALhLLbKtH0pTyN62xlCAGN+tGunkBCGhZzLsGyXoedAggD4uJhThjdkzQ+G4XKcHwYbfuaC9W7h2onzg999qMdF03P8+j2R4b/pZ3laghf3MwmUIWt+4FOcz0DxPMCDUEh480K6RZjwZ94rhvE5z7Aa2EMbRWDPI9FwTWYCKb7zfa5GHoSzjMvBRWFPP4NPgtYNRojhAggqRlqWG+PAcxLXpN5f6TZB0B768LAHxSRCG0VCZsauKK4/ptfLkgP0iuUBRpGxsfawh4cKgP358zaio9RL/KSTvSaQlQLwmHbSBckC4L0rKPETzr9IukRiGBhsoMRPGG8lXSIRAlgpAF9hlUTbJQugWi0F4CsStksUQJhFMpQi0ImZrWQbMq1iJKeCef6J4O3PMDJ8aaByicnZTFIAQf5bX2nZdlS4bqIVvZzN5AQQxZJ85wPijRxFh95j/rWLHdl+gVICiGJJL/9blP44RRaBufcn7bHll4NZZRUmoD/Q4s/d68idBXovtHPZlLhZIH2zypeEURjodikM5F8pTC6Sdui40gVEFRvtYxlvpzlFRNoDRMNBfhYmocreuEuYT+3iBruEmfZknLXSXJ6uIqiHVdiA/pjkEXwYKdC+/8W+aG20jqltN9NcnkoA7PRNGg20YIN4l6+r+UHcPYSaP9jqGcT5JbYcLuFLk74snLGm+EUN2MK1/MClY2SCYBkpUTswwlbL+J2g3TppOonP7R/++MonkMK9LmFKB0aobQyx7QUGydIFRBWK8x+cdqs9HNlE5cegiFNeIIZq+l99d3iL9iwewLVuoPdQuvsJ9a1hLnmBGMoPaOilOz9w/TjZ2vYMFFHeGBLONTN2Ei4yOH9AsVqVwfG8u2cJr6bN/AfJtjOoWl2Cy1XDsfHi+QOZ3nzX+l1D6GdsjudlELN+acf9Dz0FMiJygQXx6QRKzMP5jJibWUUGdB0f715CWHxWReKnHPtj9GwOrdUOhe6oxAwaXH+MFgFE9QJBZjWWyBLMZEn87nsmaKI/KtCiypIhMN5UPSl8x6eDZkQ+sCo+SR9aVJICxk+ylZsL0Ij+BhG1Gr3AsoxcO/waqneWoJlcesCFPYarwTo4q6MkO5T0VXtTuuL+fU+NnChFoIkcjR8+PXKkFEFGcjZ++CuQM6UIFDFg/PDXwAClCFJiyPiEkTZxYauZ6tgkbNUT+kVLZPuTJoxPGO8Ezef2L4lFjEWUPEwO4/zEXwkL8NlnjopZQ1pB9KMdff50xE1xPOvKngrWesGXecFdWlTRY8rlP4j1wwBGOCR0qKJKzOsvwSJOnAYReYPKRetH1JnD6l0/iFPHgYS5QYDFwoYFGt710LQR63fDyfNgwjIzxucLJITQ3aP6/2W23HaqhtLZA4HCsBAEDc89grOGj/HiRKj+sHFefOlLjtASie1ZjN1Zc9XwMR4dCRYKYUIIgcLDQQe9Qr9/QrCms2Inb7wSwCBi+NgQd9lRq2Jg1IyZX/LN6IN4K4BB7uYLJsJEmMlXmhjrtlwYxmWlEAKICYVQqVxFflPMHTF+nyyC4WMKdWhU/4CL/CqTab6+QMYnCndqGDv16XIum1Zppc6hCRxdFPPYONq0qnOnUligob8i1wUKlQMM0h8yXoUOattPFc31xxT24Mh+R7PjyE7h4v4ghfUAMRl3LmvZgesyxT86VnXnssYduC5TeA9A9GcN19P9EJ/sh5FCMxKHR6feuUw7cEfA+MRIeIAYyXxAueWaj4zO8fHEdthObffl2Sjuj1Sji5ESQDhVzIZ1MineVG8So+UBQPnAjbUdp4rDzhuf5X84lmOMnABCov6G95K88JSNm0sYQUZSAGFTq+3tQ4jygQ5txETJ6EHVx2G94QjzLdIWvdPvEPp9AAAAAElFTkSuQmCC
        trackingUrl: https://tools.usps.com/go/TrackConfirmAction?tLabels=9361289676091361892011
        comments: Comments.
        paymentMethod: ONLINE
        carrierServiceType: BROKER
        rate:
          shippingPrice:
            value: 0
            currency: USD
          insurancePrice:
            value: 0
            currency: USD
        shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
        shippingFinishedDate: '2024-01-05T11:11:11.000Z'
        metaData:
          integrationResponse: {}
          carrier:
            name: '[FedEx] Postmen Testing Account'
            image: null
            metaData: {}
            id: fedex
            type:
              metaData: {}
              terms: ''
              rate:
                shippingPrice:
                  value: 284.02
                  currency: USD
                insurancePrice:
                  value: 0
                  currency: USD
              name: FedEx First Overnight®
              transitTime: 0
              shippingEstimatedDate: '2024-01-05T11:11:11.000Z'
              description: FedEx
              id: fedex_first_overnight
              international: false
    PauseResumeServiceResponse:
      type: object
      required:
      - message
      - data
      properties:
        message:
          type: string
          example: Service executed successfully
          description: Message of successful cancelation.
        data:
          type: object
          description: Object containing service information.
          required:
          - serviceId
          - carrierId
          - reason
          properties:
            serviceId:
              type: string
              description: Service ID.
              example: apknieot924892jaf-1231
            carrierId:
              type: string
              description: Carrier ID.
              example: servientrega9234jaf
            cancel:
              type: boolean
              description: Condition that the service is paused (`false`) or not (`true`).
              example: false
            reason:
              type: string
              example: En el lugar de residencia no hay quien reciba el paquete
              description: Reason for the cancelation.
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: Authentication JWT. JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information as a JSON object between parties.
      required: true
      style: simple
      schema:
        type: string
        example: '{token}'
    Accept:
      name: Accept
      in: header
      description: HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand.
      required: true
      style: simple
      schema:
        type: string
        example: application/json
    Content-Type:
      name: Content-Type
      in: header
      description: Type of the content being sent.
      required: true
      style: simple
      schema:
        type: string
        example: application/json
